
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}

:root {
    --main-background-color: #ffffff;
    --second-background-color: #F4F4FD;
    --third-background-color: #2e2f42;
    --main-title-color: #404bbf;
    --second-title-color: #2e2f42;
    --third-title-color: #4d5ae5;
    --main-color: #434455;
    --main-gap: 24px;
    --mob-gap: 72px;
    --mob-gap-smal: 16px
}


body {
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    color: var(--main-color, #434455);
    background-color: var(--main-background-color, white);
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.text-decoration {
    text-decoration: none;
}

.container {
    background-color: transparent;
    padding-left: 16px;
    padding-right: 16px;
    /* margin: 0 auto; */
    font-size: 16px;
}

/* ----------HEADER--------- */
.header {
    padding-top: 16px;
        padding-bottom: 16px;
    border-bottom: 1px solid var(--border-color, #e7e9fc);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header>.container {
    display: flex;
    align-items: center;
    top: 0;
}

.header-navigation {
    display: none;
}
.header-logo {
        font-family: Raleway, sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--third-title-color);
        text-decoration: none;
    }
        .header-logo-studio {
            color: var(--second-title-color);
        }

    .header-item-menu:hover {
        color: var(--main-title-color);
    }

    .header-item-menu:focus {
        color: var(--main-title-color);
    }

        .header-link {
            font-weight: 700;
                font-size: 36px;
                line-height: 1.11;
                letter-spacing: 0.02em;
                text-transform: capitalize;
                color: #2E2F42;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
                .header-list {
                    display: flex;
                    padding-left: 0px;
                    /* gap: 40px; */
                    flex-direction: column;
                    flex-wrap: nowrap;
                    align-items: flex-start;
                }
    .header-address {
        font-style: normal;
        font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: #434455;
            text-decoration: none;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }  
    .phone-number {
        font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: #4D5AE5;
    }
        .header-address:hover {
            font-style: normal;
                font-weight: 700;
                font-size: 28px;
                line-height: 1.11;
                letter-spacing: 0.02em;
                text-transform: capitalize;
                color: #4D5AE5;
        }
                .header-address:focus {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 28px;
                    line-height: 1.11;
                    letter-spacing: 0.02em;
                    text-transform: capitalize;
                    color: #4D5AE5;
                }


/* ---------MOBILE-MENU------ */
.open-menu-btn {
    display: flex;
    justify-content: center;
}

.icon-menu {
    stroke: #2e2f42;
}

.header > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 249px; */
}

.menu {
    /* display: flex;
    padding: 0;
    margin: 0;
    list-style: none; */
}
.menu-toggle {
    display: block;
    border: none;
    background-color: transparent;
    outline: none;
    padding: 0;
    cursor: pointer;
}
.btn-menu-toggle {
color: #2e2f42;
}
.menu-close-toggle {
    display: block;
    margin-left: auto;
}
.menu-container > .menu-toggle {
    position: absolute;
    top: 24px;
    right: 24px;
    color: #fff;
}
.menu-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 40px;
    background-color: #ffffff;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}


.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
    cursor: pointer;
}
.mobile-menu-middle {
    flex-direction: column-reverse;
}

.mobile-menu .link {
    padding: 10px;
    /* color: #2E2F42; */
    text-decoration: none;
    padding: 0;
}

/* -------------SECTION1-------------- */
.section-effective {
    background-color: var(--third-background-color);
    padding: 112px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/section-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    margin: auto;
}
.doing-class {
    display: none;
}
.section-effective-contents {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
        font-size: 28px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #FFFFFF;
        margin-bottom: 48px;
}

.section-effective-btn {
    padding: 16px 32px;
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background: var(--third-title-color);
    color: var(--main-background-color);
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0px;
    background-position: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.section-team {
padding-top: 96px;
padding-bottom: 96px;
}
.section-effective-container {
    background-position: center;
}

.section-effective-btn:hover {
    background-color: var(--main-title-color);
}

.section-our-team {
    margin-bottom: 72px;
}

.section-effective-btn:focus {
    background-color: var(--main-title-color);
}

.section-team {
    background-color: var(--second-background-color);
    /* padding-bottom: 120px; */
    padding-top: 96px;
    /* padding-top: 96px;
    padding-bottom: 96px; */
}
.class-item-team {
    max-width: 264px;
    max-height: 428px;
}


.approach {
    padding-bottom: 96px;
    padding-top: 96px;
}
.visually-hidden {
    font-size: 0;
}

.customers-section {
    padding-bottom: 96px;
    padding-top: 96px;
}
/* ---------------FOOTER-------------- */
.menu-soc-list {
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: center;
    justify-content: flex-start;
    margin-top: 48px;
}
.team-soc-item {
    width: 40px;
    height: 40px;
}

.team-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--third-title-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-icon {
    fill: #ffffff;
    justify-content: center;
}

.team-soc-link:hover {
    background-color: var(--main-title-color);
}

.team-soc-link:focus {
    background-color: var(--main-title-color);
}
.team-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--third-title-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover {
    background-color: #31D0AA;
}

.team-link:focus {
    background-color: #31D0AA;
}
.footer {
    background-color: #2E2F42;
    /* padding-top: 100px;
    padding-bottom: 100px; */
    
}
.footer-increase {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.title-social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.footer-logo {
    margin-bottom: 16px;
}
.footer-soc-list {
    display: flex;
    gap: 16px;
    padding: 0;
    justify-content: center;
}
.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--third-title-color);
}
.footer-logo-studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-background-color);
}
.btn-subscribe {
    width: 165px;
    height: 40px;
    padding: 8px 24px;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background: var(--third-title-color);
    color: var(--main-background-color);
    border-radius: 4px;
    border: 0px;
    gap: 16px;
    background-position: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.telegram-icon {
    width: 24px;
    height: 20px;
    gap: 16px;
}
.online-input {
    padding: 8px 8px 8px 16px;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 264px;
    height: 40px;
    outline: transparent;
}
.online-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    width: 36px;
    height: 24px;
}

/* -------BACKDROP--------- */
.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleY(0);
}

.modal {
    background-color: #FCFCFC;
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    width: 24px;
    height: 24px;
    border: 1px solid #0000001A;
    border-radius: 50%;
    background-color: #E7E9FC;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover {
    background-color: #404BBF;
    fill: #ffffff;
}

.modal-close-btn:focus {
    background-color: #404BBF;
    fill: #ffffff;
}
.modal-btn {
    transition: fill 250ms;
    background-image: url(../images/icons.svg#icon-close-black);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.active-link {
    color: #404BBF;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.modal-icon {
    transform: translateY(-50%);
    fill: #2E2F42;
}
.modal-input {
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    padding-left: 38px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
}
.modal-input:focus+.modal-icon {
    fill: #4D5AE5;
}

.modal-textarea:focus {
    border-color: #4D5AE5;
}

.modal-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.17;
    color: rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.17;
    color: #8E8F99;
}

.modal-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.17;
    color: #8E8F99;
}

.modal-textarea {
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    resize: none;
}

.check-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.17;
    color: #8E8F99;
}

.privacy-policy {
    color: #4D5AE5;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.17;
    flex-shrink: 0;
}

.check-text::before {
    content: '';
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    flex-shrink: 0;
}

.input-check:checked+.check-text::before {
    background-color: #404BBF;
    border: none;
    background-image: url(../images/check.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.btn-send {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background: var(--third-title-color);
    color: var(--main-background-color);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0px;
    background-position: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 169px;
    height: 56px;
}

/* ================320px============== */


    .menu {
        display: none;
    }

    .container {
        width: 320px;
        margin: 0 auto;
    }

    .header>.container {
        gap: 140px;
    }

    .approach-second-contents {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--second-title-color);
        margin-bottom: 8px;
    }

    .approach-paragraph {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--main-color);
    }

    .about-list {
        display: flex;
        gap: 72px;
        padding-left: 0;
        justify-content: center;
        flex-wrap: wrap;
    }


    .main-item-wrap {
        display: none;
    }

    .approach>.container {
        width: 320px;
    }

    .approach-list {
        display: flex;
        flex-direction: column;
        gap: var(--mob-gap, 72px);
    }

    .approach-second-contents {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    }



    .section-our-team {
        /* padding-bottom: 72px; */
        padding-top: 0;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
    }

    .team-soc-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
        padding: 0;
    }

    .team-soc-item {
        width: 40px;
        height: 40px;
    }

    .team-soc-link {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: var(--third-title-color);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .team-soc-icon {
        fill: #ffffff;
    }

    .team-soc-link:hover {
        background-color: var(--main-title-color);
    }

    .team-soc-link:focus {
        background-color: var(--main-title-color);
    }

    .section-team-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 1.2;
        color: var(--second-title-color);
        margin-top: 32px;
        margin-bottom: 8px;
        text-align: center;
    }

    .list-photo-paragraph {
        line-height: 24px;
        letter-spacing: 1.5;
        text-align: center;
        margin-bottom: 8px;
    }

    .class-item-team {
        justify-content: center;
        border-radius: 0px 0px 4px 4px;
        background-color: var(--main-background-color);
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
        padding: 0px 0px 32px;
    }

    .team-soc-link {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: var(--third-title-color);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


    .customers-list {
        flex-wrap: wrap;
    }

    .customers-title {
        text-align: center;
        font-size: 36px;
        line-height: 1.11;
        margin-bottom: 72px;
    }

    .customers-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 72px var(--main-gap, 24px);
        padding: 0;
    }

    .costumers-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 190px;
        height: 88px;
        border-radius: 4px;
        border: 1px solid #8E8F99;
        fill: #8E8F99;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .costumers-link:hover {
        border: 1px solid var(--main-title-color);
        fill: var(--main-title-color);
    }

    .costumers-link:focus {
        border: 1px solid var(--main-title-color);
        fill: var(--main-title-color);
    }

    .costumers-icon {
        width: 104px;
        height: 56px;
    }


    .footer {
        width: auto;
        padding: 96px 0px;
        margin: auto;
    }

    .footer-container {
        align-items: center;

        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 72px
    }



    .footer-logo-paragraph {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title-social-media {
        text-align: center;
        margin-bottom: 16px;
    }

    .studio-social-media {
        display: flex;
        flex-direction: column;
        gap: 72px;
    }

    .online-input {
        /* width: 320px;
        opacity: 0.3; */
        color: #FFFFFF;
        border-color: gray;
    }

    .form-footer {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .form-footer-input {
        margin-bottom: 16px;
    }

    /* ---------MODAL--------- */
.backdrop
    .modal {
        width: 320px;
        min-height: 584px;
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 24px;
        padding-top: 72px;
    }

    .modal-close-btn {
        display: block;
        padding: 0;
        top: 5%;
        left: 88%;
        cursor: pointer;
        position: absolute;
    }

    .modal-btn {
        width: 8px;
        height: 8px;
        padding: 0;
        align-items: center;
        justify-content: center;
    }

    .is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .modal-title {
        text-align: center;
        margin-bottom: 16px;
    }

    .modal-field {
        margin-bottom: 8px;
    }

    .modal-field-third {
        margin-bottom: 24px;
    }

    .input-wrap {
        position: relative;

    }

    .modal-icon {
        position: absolute;
        left: 16px;
        top: 20px;
        bottom: 8px;
    }

    .modal-input {
        width: 100%;
        height: 40px;
    }

    .modal-label span {
        display: block;
        margin-bottom: 4px;
    }

    .modal-label {
        display: inline-block;
        display: block;
        margin-bottom: 4px;
    }

    .modal-textarea {
        width: 100%;
        height: 120px;
        padding: 8px 16px;
        resize: none;
        display: block;
    }

    .input-check {
        display: grid;
    }

    .check-text {
        display: flex;
        align-items: center;
        position: relative;
    }

    .privacy-policy {
        padding-left: 4px;
        display: flex;
        align-items: center;
        position: relative;
    }

    .check-text::before {
        content: '';
        margin-right: 8px;
    }

    .btn-send {
        padding: 16px 32px;
        display: block;
        margin: 0 auto;
        position: initial;
    }
